$color-first: #ffffff;
$color-second: #fafafa;
$color-third: #fff5f6;
$color-fourth: #e5e5e5;
$color-fifth: #ecebeb;
$color-sixth: #f0d1a5;
$color-seventh: #e17992;
$color-eighth: #ffb8ca;
$color-ninth: #ffa5ba;
$color-tenth: #fea5bb;
$color-eleventh: #d41443;
$color-twelfth: #d41342;
$color-thirteenth: #c7133e;
$color-fourteenth: #c2e297;
$color-fifteenth: #907e82;
$color-sixteenth: #000000;
$color-seventeen: #d9d9d9;
$color-eighteen: #d31342;
$color-nineteen: #e1e1e1;
$color-twenty: #e18298;
$color-twentyone: #f9ccd8;
