$color-first:#FFFFFF;
$color-second:#FAFAFA;
$color-third:#FFF5F6;
$color-fourth:#E5E5E5;
$color-fifth:#ECEBEB;
$color-sixth:#F0D1A5;
$color-seventh:#E17992;
$color-eighth:#FFB8CA;
$color-ninth:#FFA5BA;
$color-tenth:#FEA5BB;
$color-eleventh:#D41443;
$color-twelfth:#D41342;
$color-thirteenth:#C7133E;
$color-fourteenth:#C2E297;
$color-fifteenth:#907E82;
$color-sixteenth:#000000;
$color-seventeen:#D9D9D9;
$color-eighteen: #D31342;

