  <!-- id=how-made" to jest link z menu - nie usuwać -->

<section id="how-made" class="about">
  <div class="about__titles">
    <p class="about__title--first">tradition and love</p>
    <h2 class="about__title--second">how it’s made?</h2>
  </div>
  <img
    src="./images/About/cow-mobile-1x.png"
    alt="cow"
    width="280px"
    height="279px"
  />
  <div class="about__descriptions">
  <p class="about__description--first">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <p class="about__description--second">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam
    erat volutpat. Aenean accumsan.
  </p>
  <p class="about__description--third">
    Aliquam erat volutpat. Aenean accumsan.
  </p>
  </div>
  <button class="about__button" type="button">
    <p class="about__button--label">Read more</p>
    <svg class="about__button--icon" width="4.43px" height="8px">
      <use href="./images/icons/symbol-defs (6).svg#icon-arrow-header"></use>
    </svg>
  </button>
</section>
