<div id="about" class="advantages-box">
  <h1 class="advantages-box__title">Adventages</h1>
  <ul class="advantages-box__list">
    <li class="advantages-box__item advantages-box__item--position">
      <span
        class="advantages-box__number advantages-box__number--position advantages-box__bucket-one"
        >721
      </span>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-box__item">
      <span class="advantages-box__number advantages-box__bucket-two"
        >16KG
      </span>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-box__item advantages-box__item--position">
      <span class="advantages-box__number advantages-box__heart">84</span>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
