<!-- id=contact" to jest link z menu - nie usuwać -->

<article id="contact" class="contacts">
    <div class="container">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="list contactas__item">
        <li>
          <div class="contacts__item--box">
            <p class="contacts__item-title">cafe</p>
            <div>
              <p class="contacts-item--city">Chicago</p>
              <p class="contacts-item--destription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="list contacts-item--open-hours">
              <li>
                <p class="contacts-item--day">Monday - Friday</p>
                <p class="contacts-item--hours">06:00 AM - 10:00 PM</p>
  
                <p class="contacts-item--day">Saturday - Sunday</p>
                <p class="contacts-item--hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
  
            <ul class="list contacts__item--contact-us">
              <li>
                <a href="tel:+61(0) 383 766 284" class="link contacts__item--mail">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="link contacts__item--tel">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__item--box">
            <p class="contacts__item-title-green">FOODTRUCK</p>
            <div>
              <p class="contacts-item--city">Los Angeles</p>
              <p class="contacts-item--destription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="list contacts-item--open-hours">
              <li>
                <p class="contacts-item--day">Monday - Friday</p>
                <p class="contacts-item--hours">06:00 AM - 10:00 PM</p>
  
                <p class="contacts-item--day">Saturday - Sunday</p>
                <p class="contacts-item--hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
  
            <ul class="list contacts__item--contact-us">
              <li>
                <a href="tel:+61(0) 383 766 284" class="link contacts__item--mail">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="link contacts__item--tel">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__item--box">
            <p class="contacts__item-title">cafe</p>
            <div>
              <p class="contacts-item--city">Chicago</p>
              <p class="contacts-item--destription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="list contacts-item--open-hours">
              <li>
                <p class="contacts-item--day">Monday - Friday</p>
                <p class="contacts-item--hours">06:00 AM - 10:00 PM</p>
  
                <p class="contacts-item--day">Saturday - Sunday</p>
                <p class="contacts-item--hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
  
            <ul class="list contacts__item--contact-us">
              <li>
                <a href="tel:+61(0) 383 766 284" class="link contacts__item--mail">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="link contacts__item--tel">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </article>