<section class="customer-review">
  <div class="container">
    <div class="customer-review__page">
      <img
        class="customer-review__customer-image"
        src="./images/Customer_Reviews/custemer-one-1x.png"
        alt="image of our customer"
        srcset="
          ./images/Customer_Reviews/custemer-one-mobile-1x.png  93w,
          ./images/Customer_Reviews/custemer-one-mobile-2x.png 186w,
          ./images/Customer_Reviews/custemer-one-tablet-1x.png  85w,
          ./images/Customer_Reviews/custemer-one-tablet-2x.png 170w,
          ./images/Customer_Reviews/custemer-one-1x.png         85w,
          ./images/Customer_Reviews/custemer-one-2x.png        170w
        "
        sizes="85px"
      />
      <div class="customer-review__text-box">
        <div class="customer-review__background-box">
          <p class="customer-rewiew__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>
    <div class="customer-review__slide-nav">
      <img
        class="customer-review__dots-icon"
        src="./images/icons/dots-customer.svg"
      />
      <p class="customer-review__customer-name">Emily, Los Angeles</p>
      <ul class="customer-review__dot-list">
        <li>
          <img
            class="customer-review__dot-icon"
            src="./images/icons/dot-customer.svg"
          />
        </li>
        <li>
          <img
            class="customer-review__dot-icon"
            src="./images/icons/dot-customer.svg"
          />
        </li>
        <li>
          <img
            class="customer-review__dot-icon"
            src="./images/icons/dot-customer.svg"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
