<section class="reviews">
    <figure class="reviews__item">
        <img  class="reviews__png" srcset="
                ./images/Customer_Reviews/custemer-one-1x.png 85w,
                ./images/Customer_Reviews/custemer-one-2x.png 170w"
            sizes="(min-width: 320px) 85px"
            src="./images/Customer_Reviews/custemer-one-1x.png" alt="zdjęcie pierwszej zadowolonej klientki" />
        <figcaption class="reviews__description">
            <span class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</span>
        </figcaption>
    </figure>
</section>