
<section class="customer-review">
  <div class="container slider">
    <div class="customer-review__page">
      <img class="customer-review__customer-image" src="./images/Customer_Reviews/custemer-one-1x.png"
        alt="image of our customer" srcset="
          ./images/Customer_Reviews/custemer-one-mobile-1x.png  93w,
          ./images/Customer_Reviews/custemer-one-mobile-2x.png 186w,
          ./images/Customer_Reviews/custemer-one-tablet-1x.png  85w,
          ./images/Customer_Reviews/custemer-one-tablet-2x.png 170w,
          ./images/Customer_Reviews/custemer-one-1x.png         85w,
          ./images/Customer_Reviews/custemer-one-2x.png        170w
        " sizes="85px" />
      <div class="customer-review__text-box">
        <div class="customer-review__background-box">
          <p class="customer-rewiew__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <img class="customer-review__dots-icon" src="./images/icons/dots-customer.svg" />
      <p class="customer-review__customer-name">Emily, Los Angeles</p>
    </div>
    <div class="customer-review__page">
      <img class="customer-review__customer-image" src="./images/Customer_Reviews/custemer-one-1x.png"
        alt="image of our customer" srcset="
                  ./images/Customer_Reviews/custemer-two-1x.png         85w,
                  ./images/Customer_Reviews/custemer-two-2x.png        170w
                " sizes="85px" />
      <div class="customer-review__text-box">
        <div class="customer-review__background-box">
          <p class="customer-rewiew__text">
            Najlepsze lody jakie jadłam.Ulubione smaki to: wanilia,tiramisu i Malaga. Pychota! Swoim córeczkom kupuję
            milkshake truskawkowy i wiem że są zrobiony z naturalnych skladników.
          </p>
        </div>
      </div>
      <img class="customer-review__dots-icon" src="./images/icons/dots-customer.svg" />
      <p class="customer-review__customer-name">Helena, New York</p>
    </div>
    <div class="customer-review__page">
      <img class="customer-review__customer-image" src="./images/Customer_Reviews/custemer-one-1x.png"
        alt="image of our customer" srcset="
                  ./images/Customer_Reviews/custemer-three-1x.png         85w,
                  ./images/Customer_Reviews/custemer-three-2x.png        170w
                " sizes="85px" />
      <div class="customer-review__text-box">
        <div class="customer-review__background-box">
          <p class="customer-rewiew__text">
            Zdecydowanie polecam lody IceCream, najlepsze jakie jadłam, po prostu wspaniałe ;) idealne
            po długich zakupach :)
          </p>
        </div>
      </div>
      <img class="customer-review__dots-icon" src="./images/icons/dots-customer.svg" />
      <p class="customer-review__customer-name">Sarah, Chicago</p>
    </div>
</section>