<footer>
  <div class="footer">
    <div class="footer-wrapper container">
      <div class="footer_header">
        <p class="footer__title">homemade ice cream made</p>
        <p class="footer__subtitle">with passion</p>
      </div>
      <div class="footer__contact--wrapper">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a
              class="footer__link pointer"
              href="https://github.com"
              target="_blank"
            >
              <svg class="footer__link--icon-primary" width="34" height="34">
                <use
                  href="./images/icons/symbol-defs (6).svg#icon-github"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__link pointer"
              href="https://telegram.org"
              target="_blank"
            >
              <svg class="footer__link--icon-secondary" width="34" height="34">
                <use
                  href="./images/icons/symbol-defs (6).svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__link pointer"
              href="https://www.facebook.com"
              target="_blank"
            >
              <svg class="footer__link--icon-tertiary" width="34" height="34">
                <use
                  href="./images/icons/symbol-defs (6).svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__contact">
          Feel free to contact
          <span>
            <a class="footer__tel" href="telto:+610383766284">
              +61 (0) 383 766 284
            </a></span
          >
        </p>
      </div>
    </div>
    <hr class="footer__border" />
    <p class="footer__info">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
