<div class="gallery_box gallery__container">
  <picture>
    <source
      srcset="
        ./images/Gallery/gallery-1x.png,
        ./images/Gallery/gallery-2x.png
      "
      media="(min-width:1200px)"
    />
    <source
      srcset="
        ./images/Gallery/gallery-tablet-1x.png,
        ./images/Gallery/gallery-tablet-2x.png
      "
      media="(min-width:768px)"
    />
    <source
      srcset="./images/Gallery/gallery-mobile-2x.png"
      media="(min-width:480px)"
    />
    <img
      class="team-image"
      src="./images/Gallery/gallery-mobile-1x.png"
      alt="lots-of-photos-of-happy-people-eating-icecreams"
    />
  </picture>
</div>
