<header id="home" class="header">
    <div class="container">
        <a class="header__logo" href="#">
            <img  title="logo" alt="icecream logo" src="./images/Hero_header/logo-mobile-1x.png"
            srcset="./images/Hero_header/logo-mobile-1x.png 199w,
            ./images/Hero_header/logo-mobile-2x.png 398w
            " 
            sizes="(min-width: 320px) 199px, 100vw"
            /> 
        </a>
        <div class="hamburger">
        <button class="hamburger__button header__button" type="button">
            <svg class="hamburger__icon"
            width="20"
            height="12"
            >
               <use xlink:href="./images/icons/symbol-defs (6).svg#icon-Burger-header" />
            </svg>
       </button>
    </div>
    <div class="header__title">
        <p>ICE CREAM MADE WITH</p>
        <p class="header__standout">PASSION</p>
    </div>
    <div class="headerIcecream">
        <img class="headerIcecream__photo"  title="Ice Cream" alt="photo of icecream"
        src="./images/Hero_header/main-icecream-1x.png"
        srcset="
        ./images/Hero_header/main-icecream-1x.png 538w,
        ./images/Hero_header/main-icecream-2x.png 1076w,
        ./images/Hero_header/main-icecream-tablet-1x.png 324w,
        ./images/Hero_header/main-icecream-tablet-2x.png 648w,
        ./images/Hero_header/main-icecream-mobile-1x.png 284w,
        ./images/Hero_header/main-icecream-mobile-2x.png 568w
        " 
        sizes="(min-width: 1280px) 538px, (min-width: 768px) 324px, (min-width: 320px) 284px, 100vw"
        />
    </div>
    <div >
        <ul class="headerButtons">
            <li>
                <a class="headerButtons__link" href="#products">
                <button class="headerButtons__item" type="button">Products</button></a>
            </li>  
            <li>
                <a class="headerButtons__link"  href="#how-made" >
                <button class="headerButtons__item headerButtons__item--second" type="button">How it's made?</button></a>
            </li>  
           
        </ul>
    </div>
    <div class="headerGirl">
        <img class="headerGirl__photo" title="Girl with icecream" alt="Girl with icecream"
        src="./images/Hero_header/girl-icecream-1x.png" 
        srcset="
        ./images/Hero_header/girl-icecream-1x.png 293w,
        ./images/Hero_header/girl-icecream-2x.png 586w,
        ./images/Hero_header/girl-icecream-tablet-1x.png 168w,
        ./images/Hero_header/girl-icecream-tablet-2x.png 336w
        "
        sizes="(min-width: 1280px) 293px, (min-width: 768px) 168px, 100vw"
        />
    </div>
    <div class="headerMilk">
        <img class="headerMilk__photo" title="Jug if milk" alt="Jug if milk"
        src="./images/Hero_header/milk-1x.png" 
        srcset="
        ./images/Hero_header/milk-1x.png 188w,
        ./images/Hero_header/milk-2x.png 376w,
        ./images/Hero_header/milk-tablet-1x.png 124w,
        ./images/Hero_header/milk-tablet-2x.png 248w
        "
        sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px, 100vw"
        />
    </div>
    <div class="headerLorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </div>
    <div class="headerArrow">
        <img class="headerArrow__photo" title="Arrow" alt="Arrow"
        src="./images/Hero_header/arrow-in-circle-1x.png" 
        srcset="
        ./images/Hero_header/arrow-in-circle-1x.png 26w,
        ./images/Hero_header/arrow-in-circle-2x.png 52w,
        ./images/Hero_header/arrow-in-circle-tablet-1x.png 18w,
        ./images/Hero_header/arrow-in-circle-tablet-2x.png 36w
        "
        sizes="(min-width: 1280px) 26px, (min-width: 768px) 18px, 100vw"
        />
    </div>
    
        <ul class="headerNav">
            <li>
               <a class="headerNav__item" href="#home" title="Home" target="_self">Home</a>
            </li>
            <li>
                <a class="headerNav__item" href="#about" title="About us" target="_self">About us</a>
            </li>
            <li>
                <a class="headerNav__item" href="#how-made" title="How it's made?" target="_self">How it's made</a>
            </li>
            <li>
                <a class="headerNav__item" href="#products" title="Our products" target="_self">Our products</a>
            </li>
            <li>
                <a class="headerNav__item" href="#contact" title="Contacts" target="_self">Contacts</a>
            </li>
        </ul>
    <button class="headerButton-BuyNow" data-modal-open>
        Buy now 
        <svg
        width="6"
        height="10">
            <use xlink: href="./images/icons/symbol-defs (6).svg#icon-arrow-header"></use>
        </svg>
    </button>

    <div class="headerNumbers">
        <div class="headerNumbers__item">
            <div class="headerNumbers__elipse"></div>
                <p class="headerNumbers__number">16</p>
                <p class="headerNumbers__desc">cafes</p>    
        </div>
        <div class="headerNumbers__item">
            <div class="headerNumbers__elipse"></div>
                <p class="headerNumbers__number">23</p>
                <p class="headerNumbers__desc headerNumbers__desc--foodtruck">food trucks</p>    
        </div>

    </div>
    </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="box">
        <button type="button" class="box__btn" data-modal-close>
            <svg class="box__icon" height="15" width="15">
                <use href="./images/icons/symbol-defs (6).svg#icon-X-close-modal""></use>
            </svg>
        </button>
        <form>
            <legend class="box__title">Zostaw swoje dane w formularzu poniżej</legend>
            <fieldset class="form">
                <label class="form__title" for="name">Imie</label>
                <!-- <svg class="form__svg" width="18" height="18">
                    <use href="./images/icons.svg#person-box"></use>
                </svg> -->
                <input class="form__input" type="text" name="name" id="name" />
            </fieldset>
            <fieldset class="form">
                <label class="form__title" for="phone">Telefon</label>
                <!-- <svg class="form__svg" width="18" height="18">
                    <use href="./images/icons.svg#phone-box"></use>
                </svg> -->
                <input class="form__input" type="tel" name="phone" id="phone" />
            </fieldset>
            <fieldset class="form">
                <label class="form__title" for="email">Email</label>
                <!-- <svg class="form__svg" width="18" height="18">
                    <use href="./images/icons.svg#envelope-box"></use>
                </svg> -->
                <input class="form__input" type="email" name="email" id="email" />
            </fieldset>
            <p>Choose what you want:</p>
            <label>
                <input type="radio" name="text" value="icecream" class="form__radio"/>
                IceCream
            </label>
            <label>
                <input type="radio" name="text" value="icecoffee" class="form__radio"/>
                IceCoffee
            </label>
            <label>
                <input type="radio" name="text" value="milkshake" class="form__radio"/>
                Milkshake
            </label>
            <div class="form__select">
            <label for="fav">Choose payment method</label>
            <input  class="form__option" list="browsers" name="fav" id="fav" />
            <datalist id="browsers">
                <option>MasterCard</option>
                <option>Visa</option>
                <option>PayU</option>
                <option>PayPal</option>
                <option>GooglePay</option>
            </datalist>
            </div>
            <!-- <fieldset class="form form--comment">
                <label class="form__title" for="comment">Komentarz</label>
                <textarea class="form__textarea" name="comment" id="comment" placeholder="Wprowadź tekst"></textarea>
            </fieldset> -->
            <fieldset class="accept">
                <label class="accept__text">
                    <input type="checkbox" />
                    Oświadczam iż akceptuję <a href="#">Regulamin</a> i <a href="#">Politykę Prywatności.</a>
                </label>
            </fieldset>
            <button type="button" class="header-menu__button accept__button" href="../index.html">
                <span class="header-menu__span accept-pay">Pay</span>
            </button>
        </form>
    </div>
</div>
  
</header>


