<header class="header">
    <div class="container">
        <a class="header__logo" href="#">
            <img  title="logo" alt="icecream logo" src="./images/Hero_header/logo-mobile-1x.png" 
            /> 
        </a>
        <!-- <div class="hamburger">
        <button class="hamburger__button" type="button">
            <svg class="hamburger__icon"
            >
               <use xlink:href="./images/icons/Burger-header.svg" />
            </svg>
       </button>
    </div> -->
    <div class="header__title">
        <p>ICE CREAM MADE WITH</p>
        <p class="header__standout">PASSION</p>
    </div>
    <div class="headerIcecream">
        <img src="./images/Hero_header/main-icecream-mobile-1x.png" title="Ice Cream" alt="photo of icecream" />
    </div>
    </div>
    
</header>