<div>

    <section class="products" id="products">
        <p class="products__title-label">100% NATURAL</p>
        <h2 class="products__title">PRODUCTS</h2>

        <ul class="products__list">
            <li class="products__block">
                <h3 class="products__card_name ice">ICE CREAM</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>

                <img class="pointer js-open-modal products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png" data-modal="1" alt="lody różowe">
            </li>

            <li class="products__block coffee">
                <h3 class="products__card_name coffee">ICE COFFEE</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>

                <img class="pointer js-open-modal products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png" data-modal="2" alt="shake waniliowy">
            </li>

            <li class="products__block milkshake">
                <h3 class="products__card_name milkshake">MILKSHAKES</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                    <img class="pointer js-open-modal products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png" data-modal="3" alt="shake czekoladowy">
            </li>
        </ul>

        <!-- MODAL -->
        <div class="modal modal__card" data-modal="1">
            <svg class="modal__cross js-modal-close">
                <use href="./images/icons/symbol-defs (6).svg#icon-X-close-modal"></use>
            </svg>
            <h3 class="modal__card-title">Do you know that:</h3>
            <p class="modal__card-text">19th-century chefs made <span class="modal__card-accent">ice cream</span> in all kinds of flavors…like asparagus!</p>
            <form class="subscription">
                <fieldset class="subscription__form">
                    <label class="subscription__title" for="subscription">I want to get more facts:</label>
                    <input class="subscription__input" type="email" name="subscription" id="subscription" placeholder="E-mail" />
                </fieldset>
                <button class="subscription__btn" type="submit">
                    <span class="subscription__text">Subscribe</span>
                </button>
            </form>
        </div>
        
        <div class="modal modal__card" data-modal="2">
            <svg class="modal__cross js-modal-close">
                <use href="./images/icons/symbol-defs (6).svg#icon-X-close-modal"></use>
            </svg>
            <h3 class=" modal__card-title">Do you know that:</h3>
            <p class="modal__card-text"><span class="modal__card-accent">Ice Coffee</span> Is A Great Pre-Workout Drink witch can give you the motivation.</p>
            <form class="subscription">
                <fieldset class="subscription__form">
                    <label class="subscription__title" for="subscription">I want to get more facts:</label>
                    <input class="subscription__input" type="email" name="subscription" id="subscription" placeholder="E-mail" />
                </fieldset>
                <button class="subscription__btn" type="submit">
                    <span class="subscription__text">Subscribe</span>
                </button>
            </form>
        </div>
        <div class="modal modal__card" data-modal="3">
            <svg class="modal__cross js-modal-close">
                <use href="./images/icons/symbol-defs (6).svg#icon-X-close-modal"></use>
            </svg>
            <h3 class="modal__card-title">Do you know that:</h3>
            <p class="modal__card-text">Craziest <span class="modal__card-accent">milkshake</span> flavors around the world include foie gras, the McNuggetini and pizza.</p>
            <form class="subscription">
                <fieldset class="subscription__form">
                    <label class="subscription__title" for="subscription">I want to get more facts:</label>
                    <input class="subscription__input" type="email" name="subscription" id="subscription" placeholder="E-mail" />
                </fieldset>
                <button class="subscription__btn" type="submit">
                    <span class="subscription__text">Subscribe</span>
                </button>
            </form>
        </div>
        
        
        <div class="overlay js-overlay-modal"></div>
        </div>

    </section>
</div>



