<div>

    <section class="products">
        <p class="products__title-label">100% NATURAL</p>
        <h2 class="products__title">PRODUCTS</h2>

        <ul class="products__list">
            <li class="products__block">
                <h3 class="products__card_name ice">ICE CREAM</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                <img class="products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png">
            </li>

            <li class="products__block coffee">
                <h3 class="products__card_name coffee">ICE COFFEE</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>

                <img class="products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png">
            </li>

            <li class="products__block milkshake">
                <h3 class="products__card_name milkshake">MILKSHAKES</h3>
                <svg class="products__dots-icon" width="26" height="6">
                    <use href="./images/icons/symbol-defs (6).svg#icon-dots-products"></use>
                </svg>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                <img class="products__arrow-icon" src="./images/Products/arrow-right-mobile-1x.png">
            </li>
        </ul>


    </section>
</div>



