<!-- id=products" to jest link z menu - nie usuwać -->

<div id="products" class="container">
    <section class="products">
        <p class="products_title-label">100% NATURAL</p>
        <h2 class="products_title">PRODUCTS</h2>
        <div class="products_block">
            <h3 class="products_card_name ice">ICE CREAM</h3>
            <!-- <svg>
                </svg> -->
            <p class="products_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et.
                dolore magna
                aliqua facilisis.</p>
            <svg>

            </svg>
        </div>

        <div class="products_block coffee">
            <h3 class="products_card_name">ICE COFFEE</h3>
            <svg>
            </svg>
            <p class="products_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et.
                dolore magna
                aliqua facilisis.</p>
            <svg>

            </svg>
        </div>
        <div class="products_block milkshake">
            <h3 class="products_card_name">MILKSHAKES</h3>
            <svg>
            </svg>
            <p class="products_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et.
                dolore magna
                aliqua facilisis.</p>
            <svg>

            </svg>
        </div>
</div>
</section>