/* BUTTONS CONTACTS SECTION */
.contacts__item--button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media screen and (min-width:768px) {
    .contacts__item--button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    .contacts__item--button {
        gap: 15px;
    }
}
.contacts__item--button-first {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    width: 161px;
    border: 0;
    color: $color-first;
    background-color: $color-twelfth;
    padding: 10px 19px 10px 17px;
    border-radius: 22px;
    align-items: baseline;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}
@media screen and (min-width: 768px) {
    .contacts__item--button-first {
        width: 191px;
        padding-left: 35px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .contacts__item--button-first {
        width: 198px;
        padding-right: 35px;
    }
}
.contacts__item--button-second {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    width: 161px;
    border: 0;
    color: $color-twelfth;
    background-color: $color-first;
    padding: 10px 19px 10px 17px;
    border-radius: 22px;
    align-items: baseline;

    &:hover,
    &:focus {
        background-color: $color-fifth;
        box-shadow: 0px 4px 4px 0px #00000040;
        transform: var(--t-duration), var(--t-timing-function);
    }
}
@media screen and (min-width: 768px) {
    .contacts__item--button-second {
        width: 191px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .contacts__item--button-second {
        width: 198px;
        padding-right: 35px;
    }
}
.contacts__item--button-icon {
    position: absolute;
    margin-left: 8px;
    margin-top: 9px;
    fill: currentColor;
    stroke: currentColor;
}
@media screen and (min-width: 768px) {
    .contacts__item--button-icon {
        margin-left: 13px;
    }
}

/* END -- BUTTONS CONTACTS SECTION */


.about__button{
    width: 176px;
    height: 44px;
    position: absolute;
    left:70px;
    background-color: $color-first;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;
    border-style: none;
    padding-left: 40px;
    cursor: pointer;
     @media screen and (min-width: 768px) {
        position: absolute;
        left: 430px;
       
}
    @media screen and (min-width: 1280px) {
        position: absolute;
        left: 770px;
        top: 700px;
        z-index: 4;
}
    &--label{
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $color-eleventh;
        margin-right: 14px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-right: 13px;
}
    }
    &--icon{
        fill: $color-eleventh;
    }
    &:hover,
    &:focus{
       background-color: $color-fifth;
       border-style: none; 
    }
}

