.slider {
    position: relative;
    margin: 0 auto;
}
.slick-arrow {
    position: absolute;
    top: 420px;
    background: url(../images/Customer_Reviews/slider.png) 0 0 / 100% no-repeat;
    width: 12px;
    height: 12px;
}
.slick-dots {
    position: absolute;
    top: 440;
}
.customer-review__customer-name {
    margin-top: 50px;
}