.about{
    width: 100vw;
    height: 1100px;
    background-color: $color-third;
    padding-top: 125px;
    position: relative;
    z-index: 0;
    @media screen and (min-width: 768px) {
        height: 795px;
}
    @media screen and (min-width: 1280px) {
        height: 850px;
}
}
.about__titles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    text-align: center;
    width: 220px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Titan One';
    padding: 0;
    z-index: 2;
    @media screen and (min-width: 768px){
        width: 450px;
    }
    @media screen and (min-width: 1200px){
        width: 560px;
    }
    &--first{
        color:$color-ninth;
        font-size: 18px;
        line-height: 21px;
        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 30px;
    }
        @media screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.04em;       
    }
    }
    &--second{
        color:$color-eleventh;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 0.04em;
        margin-bottom: 26px;
        @media screen and (min-width: 768px) {
            font-size: 48px;
            line-height: 55px;
            letter-spacing: 0.04em;
            margin-bottom: 50px;
}
         @media screen and (min-width: 1280px) {
            font-size: 58px;
            line-height: 66px;
            letter-spacing: 0.06em;
}
    }
       
}

.about__img{
    display: block;
    margin-bottom: 46px;
    width: 280px;
    height: 279px;
    margin: 0 auto;
    z-index: 2;
    @media screen and (min-width: 768px) {
        width: 340px;
        height: 339px;
        margin-right: 17px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 39px;
        width: 516px;
        height: 516px;
        margin-right: 74px;
}
}
.about__descriptions{
    width: 220px;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    font-style: normal; 
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    margin: 0 auto;
    z-index: 3;
    padding-top: 50px;
    @media screen and (min-width: 768px) {
        font-size: 14px; 
        width: 340px; 
        margin-left:0;
        line-height: 26px;
}
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        width: 463px; 
        margin-left:0;
        line-height: 28px;
}
    &--first{
        color: $color-sixteenth;
        margin-bottom: 46px;       
    }
    &--second{
        color: $color-fifteenth;
        margin-bottom: 30px;
        @media screen and (min-width: 1280px) {
            font-size: 14px;
            line-height: 27px;
        }
    }
    &--third{
        color: $color-fifteenth;
        margin-bottom: 62px;
        @media screen and (min-width: 1280px) {
            font-size: 14px;
            line-height: 27px;
    }
    }
}
.about__display{
    display: flex;
    flex-direction: column;
    z-index: 2;
    @media screen and (min-width: 768px) { 
        flex-direction: row;
        
    }
    @media screen and (min-width: 1280px) {
        flex-direction: row;
        
        
}
}
.about__backgroundimg{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 133px;
    top: 766px;
    @media screen and (min-width: 768px) { 
        display: none;
        
    }
    @media screen and (min-width: 1280px) {
        display: block;
        width:100vw;
        position: absolute;
        z-index: 1;
        height: 534px;
        top: 342px;       
}
}

