.advantages-box__background {
  background-color: $color-third;
  width: 100vw;
}
.advantages-box.container {
  padding-top: 105px;
  padding-bottom: 97px;
}
.advantages-box__title {
  display: none;
}
.advantages-box__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 104px;
  padding-left: 30px;
}
.advantages-box__number {
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: $color-eleventh;
  font-family: 'Titan One';
  font-size: 36px;
}

.advantages-box__text {
  font-weight: 700;
  font-size: 12px;
  margin-top: 4px;
  width: 100vw;
  line-height: 1.16;
  font-family: 'DM Sans';
  width: 230px;
}
.advantages-box__item {
  position: relative;
}

.advantages-box__bucket-one::after {
  background-size: 33px 50px;
  content: ' ';
  background-image: url('../images/Advantages/bucket-one-mobile-1x.png');
  position: absolute;
  top: -86;
  left: 0;
  width: 33px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages-box__bucket-one::after {
    background-image: url('../images/Advantages/bucket-one-mobile-2x.png');
    background-size: 33px 50px;
  }
}

.advantages-box__bucket-two::after {
  background-size: 50px 50px;
  content: ' ';
  background-image: url('../images/Advantages/bucket-two-mobile-1x.png');
  position: absolute;
  left: 0;
  top: -86;
  width: 50px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages-box__bucket-two::after {
    background-image: url('../images/Advantages/bucket-two-mobile-2x.png');
    background-size: 50px 50px;
  }
}
.advantages-box__heart::after {
  background-size: 44px 50px;
  content: ' ';
  background-image: url('../images/Advantages/heart-mobile-1x.png');
  position: absolute;
  left: 0;
  top: -86;
  width: 44px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages-box__heart::after {
    background-image: url('../images/Advantages/heart-mobile-2x.png');
    background-size: 44px 50px;
  }
}
// -----------------MEDIA 768 ----------------------------------------
@media (min-width: 768px) {
  .advantages-box.container {
    padding-top: 152px;
    padding-bottom: 140px;
  }

  .advantages-box__list {
    margin-top: 152px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .advantages-box__number {
    font-size: 48px;
  }
  .advantages-box__text {
    font-size: 14px;
    line-height: 1.71;
    width: 170px;
  }
  .advantages-box__item {
    max-width: 180px;
  }

  .advantages-box__bucket-one::after {
    background-size: 33px 50px;
    background-repeat: no-repeat;
    content: '';
    background-image: url('../images/Advantages/bucket-one-tablet-1x.png');
    position: absolute;
    top: -86;
    left: 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__bucket-one::after {
      background-image: url('../images/Advantages/bucket-one-tablet-2x.png');
      background-size: 33px 50px;
    }
  }

  .advantages-box__bucket-two::after {
    background-size: 50px 50px;
    content: url('../images/Advantages/bucket-two-tablet-1x.png');
    position: absolute;
    top: -86;
    left: 0;
    width: 50px;
    height: 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__bucket-two::after {
      background-image: url('../images/Advantages/bucket-two-tablet-2x.png');
      background-size: 50px 50px;
    }
  }
  .advantages-box__heart::after {
    background-size: 44px 50px;
    content: '';
    background-image: url('../images/Advantages/heart-tablet-1x.png');
    position: absolute;
    top: -86;
    left: 0;
    width: 44px;
    height: 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__heart::after {
      background-image: url('../images/Advantages/heart-tablet-2x.png');
      background-size: 44px 50px;
    }
  }

  .advantages-box__number {
    font-size: 48px;
  }
}

// -----------------MEDIA 1280

@media (min-width: 1280px) {
  .advantages-box.container {
    padding-top: 64px;
    padding-bottom: 139px;
  }
  .advantages-box__text {
    flex-wrap: wrap;
    font-size: 16px;
    width: 275px;
  }
  .advantages-box__list {
    justify-content: space-around;
  }
  .advantages-box__bucket-one::after {
    background-size: 33px 50px;
    background-repeat: no-repeat;
    content: '';
    background-image: url('../images/Advantages/bucket-one-1x.png');
    position: absolute;
    top: -90;
    left: 0;
    width: 50px;
    height: 50;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__bucket-one::after {
      background-size: url('../images/Advantages/bucket-one-2x.png');
      background-size: 33px 50px;
    }
  }
  .advantages-box__bucket-two::after {
    background-size: 50px 50px;
    content: '';
    background-image: url('../images/Advantages/bucket-two-1x.png');
    position: absolute;
    top: -90;
    left: 0;
    width: 50px;
    height: 50px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__bucket-two::after {
      background-image: url('../images/Advantages/bucket-two-2x.png');
      background-size: 50px 50px;
    }
  }
  .advantages-box__heart::after {
    background-size: 44px 50px;
    content: '';
    background-image: url('../images/Advantages/heart-1x.png');
    position: absolute;
    top: -86;
    left: 0;
    width: 44px;
    height: 50px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .advantages-box__heart::after {
      background-image: url('../images/Advantages/heart-2x.png');
      background-size: 44px 50px;
    }
  }
}
