.advantages-box {
  background-color: $color-third;
  width: 100vw;
  height: 200px;
}
.advantages-box__title {
  display: none;
}
// .advantages-box__list {
// }
// .advantages-box__item {
// }
.advantages-box__number {
  line-height: 1.13;
  color: $color-eleventh;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
// .advantages-box__text {
// }
