.customer-review {
  margin-top: 80px;

  @media screen and (min-width: 768px) {
    margin-top: 121px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 123px;
  }
}

.customer-review__customer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

.customer-review__text-box {
  display: flex;
  margin: 0 auto;

  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 308px;
  background-color: $color-second;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 164px;
    background-color: rgba($color-second, 0.4);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 138px;
    background-color: $color-second;
  }
}

.customer-rewiew__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: $color-sixteenth;

  width: 143px;
  height: 211px;

  width: 157px;
  display: block;
  position: absolute;

  @media screen and (min-width: 768px) {
    height: 83px;
    width: 100%;
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 52px;
    width: 750px;
    font-size: 16px;
  }
}

.customer-review__background-box {
  width: 180px;
  height: 250px;
  border: none;

  top: 29px;
  background-image: repeating-linear-gradient(
    to bottom,
    $color-second,
    $color-second 11%,
    $color-nineteen 12%
  );
  position: relative;

  @media screen and (min-width: 768px) {
    height: 106px;
    width: 544px;

    top: 29px;
    background-image: repeating-linear-gradient(
      to bottom,
      rgba($color-second, 0.4),
      rgba($color-second, 0.4) 31%,
      $color-nineteen 33%
    );
  }

  @media screen and (min-width: 1200px) {
    height: 84px;
    width: 822px;
    top: 29px;
    background-image: repeating-linear-gradient(
      to bottom,
      $color-second,
      $color-second 47%,
      $color-nineteen 49%
    );
  }
}

.customer-review__background-box::before {
  display: block;
  width: 54px;
  height: 40px;
  content: '';

  background-image: url(../images/icons/cuote-customer.svg);
  background-repeat: no-repeat;
  background-size: 54px 40px;
  position: absolute;
  left: -7px;
  top: -15px;
}

.customer-review__dots-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.customer-review__slide-nav {
  display: block;

  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
  }
}

.customer-review__quote-icon {
  height: 40px;
  width: 54px;
  fill: $color-nineteen;
  position: absolute;
  top: 28px;
  left: 61px;
}

.customer-review__dot-icon {
  display: block;
  width: 12px;
  height: 12px;
}

.customer-review__link-slider {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/icons/dot-customer.svg);
}

.customer-review__link-slider:active,
.customer-review__link-slider:focus {
  content: '';
  background-image: url(../images/icons/house-customer.svg);
  display: block;
  width: 14px;
  height: 14px;
}

.customer-review__dot-list {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-bottom: 86px;
}

.customer-review__customer-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 35px;
  }
}

.slider {
  margin: 0 auto;
}

.slick-dots li button:before {
  background-color: $color-sixteenth;
  border-radius: 50%;

}

.slick-dots li.slick-active button:before {
  content: '';
  opacity: 1;
  background-image: url(../images/icons/house-customer.svg);
  background-color: $color-first;
  background-repeat: no-repeat;
  background-size: contain;
}

