
.footer {
    background-color: $color-third;
    width: 100%;
    text-align: center;
    padding-top: 116px;
    }
    .footer_header{
      text-align:left;
      padding-left:20px;
      width: 234px;
    }
    .footer__title{
      width: 234px;
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.16;
      text-transform: uppercase;
      color:$color-ninth;
    }
    .footer__subtitle{
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color:$color-eleventh;
    
    }
    .footer__social-list{
      margin-top:43px;
    justify-content: right;
    padding-left: 20px;
    display: flex;
    gap:28px;
    }
    // .footer__link{
    // margin 
    
    // }
    .footer__contact{
      margin-top: 46px;
     
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.86;
         text-align: right;
          color:$color-sixteenth;
          text-align:center;
        }
    .footer__tel{
     
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.86;
         text-align: right;
         color:$color-eleventh;
         text-decoration: none;
    }
    .footer__info{
            font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
       text-align: center;
        color:$color-fifteenth;
       
    }
