.gallery__container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 100vw;
    }
    @media screen and (min-width: 768px) {
        width: 100vw;
    }
    @media screen and (min-width: 1280px) {
        width: 100vw;
    }
}
.gallery_box{
    display:flex;
    max-width: 100%;
    background-image:linear-gradient(180deg,
    $color-third,
    $color-third 40%,
    $color-first 40%,
    $color-first 100%);
    justify-content: center;
}
.team-image{
      padding-inline:20px;
       max-width: 100%;
      }