.container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}
.gallery_box{
    display:flex;
    // max-width: 100%;
    width: 1600px;
    // height: 48px;
    // padding-top:97px;
    background-color: red;
    justify-content: center;
}
.team-image{
    
    padding-inline:20px;
    // margin-inline:20px;
    //    margin-top:97px;
    max-width: 100%;
    // width: 1600px;
   }