
.container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.products {
    margin-top: 121px;
    margin-inline: 20px;
}

.products_title {
    font-family: "Titan One";
    font-weight: 400;
    color: #d41443;
    text-align: center;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin: auto;
    margin-bottom: 144px;
}

.products_title-label {
    color: #ffa5ba;
    font-weight: 400;
    font-family: "Titan One";
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 15px;
}

.products_block {
    width: 280px;
    height: 485px;
    background: #ffb8ca;
    border-radius: 24px;
    margin-bottom: 17px;
    margin-inline: auto;
}

.products_block.coffee {
    background: #f0d1a5;
}

.products_block.milkshake {
    background: #c2e297;
}

.products_text {
    font-family: "DM Sans";
    padding-inline: 40px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: white;
    letter-spacing: 0.04em;
}

.products_card_name {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 160px;
}

.products_card_name.ice {
    position: relative;
}

.products_card_name.ice::before {
    background-size: contain;
    content: url(../images/Products/icecream-mobile-1x.png);
    position: absolute;
    left: 17px;
    top: -112px;
    display: block;
}